<%- include('./partials/begin.ejs') %>
<form id="post-form" method="post" action="/api/posts">
  <div class="form-info">
    <label>Post Title
      <input type="text" id="title" name="title" required>
    </label>
    <label>Author
      <input type="text" id="author" name="author">
    </label>
  </div>
  <div class="form-text">
    <label>Post Text
      <textarea name="body" id="body"></textarea>
    </label>
  </div>
  <div class="form-button">
    <input type="submit" id="submit" value="Submit">
  </div>
</form>
<script>
  document.querySelector("#post-form").onsubmit = async (event) => {
    event.preventDefault();
    const post = {
      title: document.querySelector('#title').value,
      body: document.querySelector('#body').value,
      author: document.querySelector('#author').value
    };
    document.querySelector('#submit').disabled = true;
    document.querySelector('#submit').value = 'Creating...';
    const response = await fetch('/api/posts', {
      method: 'post',
      body: JSON.stringify(post),
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const data = await response.json();
    window.location = `/posts/${data._id ?? ''}`;
  };
</script>
<%- include('./partials/end.ejs') %>