<%- include('./partials/begin.ejs') %>
<h1>API</h1>
<ul>
  <li><strong>GET request to <code>/api/contacts/</code></strong> - all contacts</li>
  <li><strong>GET request to <code>/api/contacts/:id</code></strong> - contact by id</li>
  <li><strong>POST request to <code>/api/contacts/</code></strong> - add contact</li>
  <hr>
  <li><strong>GET request to <code>/api/posts/</code></strong> - all posts</li>
  <li><strong>GET request to <code>/api/posts/:id</code></strong> - post by id</li>
  <li><strong>POST request to <code>/api/posts/</code></strong> - add post</li>
  <li><strong>PUT request to <code>/api/posts/:id</code></strong> - edit post by id</li>
  <li><strong>DELETE request to <code>/api/posts/:id</code></strong> - delete post by id</li>
</ul>

<%- include('./partials/end.ejs') %>